modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"

[[ports]]
localPort = 5000
externalPort = 80

[env]
PORT = "5000"

[deployment]
deploymentTarget = "autoscale"
run = ["node", "./dist/index.cjs"]
build = ["npm", "run", "build"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[userenv]

[userenv.shared]
CRON_KEY = "recalltrial-cron-secret-2026"
APP_URL = "https://recalltrial.replit.app"
STRIPE_PRO_MONTHLY_PRICE_ID = "price_1T2MUXB5tg0rN4pMYRG5WtK3"
STRIPE_PRO_YEARLY_PRICE_ID = "price_1T2MUXB5tg0rN4pMDtjoarYW"
STRIPE_PREMIUM_MONTHLY_PRICE_ID = "price_1T2MUJB5tg0rN4pMN2h4xNKY"
STRIPE_PREMIUM_YEARLY_PRICE_ID = "price_1T2MUJB5tg0rN4pMGWBEor9H"
BILLING_ENABLED = "false"
ADMIN_KEY = "b4a4896a3f1be72301af5e5f21ef226b"

[agent]
integrations = ["stripe:2.0.0"]
